h1,
h4 {
  text-align: center;
}


a {
  text-decoration: none;
}

div.container,
div.mx-auto,
div.p-4 {
  width: 60%;
}

.arama {
    display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 767px)
{
  div.container,
  div.mx-auto,
  div.p-4 {
    width: 100%;
}
  div.btn-group-vertical {
    width: 50%;
  }
}

